html {
    padding: 10px;
    max-width: 500px;
}
.character-card {
    border: 1px solid #aaa;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}

table {
    width: 100%;
}

td {
    padding: 4px;
}